*{
    margin:0px;
    padding:0px;
}
.navbar{
    background-color: lightcyan !important;
    padding:20px 200px;
}
.section1{
    background-color: lightcyan !important;
    padding:20px 200px;
}
.upperimg{
    width:100%;
}
span{
    color:green;
}
.paragraph1{
    color:red;
}
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.cat1,.cat2,.cat3,.cat4{
    height:300px;
    text-align:center;
    border-radius:20px;
}
.cat1,.cat3,.cat4{
    background-color: lightcyan;

}
.cat2{
    box-shadow: 5px 5px 10px gray;
}